In [1]:
import pandas as pd
import yfinance as yf

In [6]:
yf.download(['EURMXN=X','MXN=X'], start='2020-01-01', end='2025-01-25')['Adj Close']

[*********************100%***********************]  2 of 2 completed

Ticker                      EURMXN=X      MXN=X
Date
2020-01-01 00:00:00+00:00  21.230801  18.917400
2020-01-02 00:00:00+00:00  21.212900  18.898800
2020-01-03 00:00:00+00:00  21.046200  18.830299
2020-01-06 00:00:00+00:00  21.144400  18.944759
2020-01-07 00:00:00+00:00  21.097000  18.841450
...                              ...        ...
2025-01-20 00:00:00+00:00  21.363501  20.791290
2025-01-21 00:00:00+00:00  21.358101  20.497240
2025-01-22 00:00:00+00:00  21.498199  20.661200
2025-01-23 00:00:00+00:00  21.332600  20.487101
2025-01-24 00:00:00+00:00  21.224300  20.378839

[1322 rows x 2 columns]