In [1]:
import pandas as pd
import numpy as np
import vartools as vt

## Ejercicio 1

In [2]:
df = pd.read_excel('Repaso.xlsx')

stocks = ['QQQ','VOO','VXX','ITOT']
n_stocks = [3967, 1576, 1023, 2032]
long = False
conf = 99

In [3]:
vt.var_stocks(df, n_stocks, 99, long, stocks)

  Métrica  Porcentaje        cash
0     VaR      0.0239 58,450.6747
1    cVaR      0.0259 63,322.6158

In [4]:
df = df[stocks]
last_price = df.iloc[-1]
pv = np.sum(last_price * n_stocks)

(last_price * n_stocks) / pv

QQQ    0.6362
VOO    0.2725
VXX    0.0070
ITOT   0.0843
Name: 235, dtype: float64

In [5]:
df = df[['QQQ','VOO','VXX','ITOT']]
rt = df.pct_change().dropna()
rt.corr()

         QQQ     VOO     VXX    ITOT
QQQ   1.0000  0.9175 -0.6241  0.9020
VOO   0.9175  1.0000 -0.7325  0.9945
VXX  -0.6241 -0.7325  1.0000 -0.7395
ITOT  0.9020  0.9945 -0.7395  1.0000

## Ejericio 3

In [6]:
df = pd.read_excel('Repaso.xlsx', sheet_name=2)
long = True
currencies = ['CHFMXN=X','JPYMXN=X','USDMXN=X']
conf = 95
positions = [2300000, 23500000, 2500000]

In [7]:
vt.var_forex(df, positions, conf, long, currencies)

  Métrica  Porcentual           Cash
0     VaR      0.0108   992,484.2714
1    cVaR      0.0130 1,192,615.0249

## Ejercico 4

In [8]:
# Write in order S, K, r, sigma, T, N (money invested in each option)

info_call = [[462, 465, 0.0528, 0.17, 1/12, 10],
             [462, 470, 0.0528, 0.16, 1/12, 12],
             [462, 475, 0.0528, 0.15, 1/12, 17],
             [462, 465, 0.0523, 0.21, 3/12, 18],
             [462, 470, 0.0523, 0.2, 3/12, 20],
             [462, 475, 0.0523, 0.19, 3/12, 12],
             [462, 465, 0.0505, 0.22, 6/12, 16],
             [462, 470, 0.0505, 0.21, 6/12, 14],
             [462, 475, 0.0505, 0.20, 6/12, 11]]

info_put = [[462, 450, 0.0528, 0.24, 1/12, 26],
             [462, 445, 0.0528, 0.22, 1/12, 18],
             [462, 440, 0.0528, 0.20, 1/12, 14],
             [462, 450, 0.0523, 0.25, 3/12, 21],
             [462, 445, 0.0523, 0.24, 3/12, 26],
             [462, 440, 0.0523, 0.23, 3/12, 32],
             [462, 450, 0.0505, 0.26, 6/12, 17],
             [462, 445, 0.0505, 0.25, 6/12, 35],
             [462, 440, 0.0505, 0.24, 6/12, 43]]

In [9]:
vt.BlackScholes().delta_hedge(info_call, info_put)

-6.971953653074316