In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import vartools as vt

In [2]:
stocks = ["AAPL", "TSLA", "AMD", "LMT", "JPM"]
data=yf.download(stocks, start="2020-01-01", end="2023-01-01")['Adj Close'][stocks]

n_stocks =[2193, 1211, 3221, 761, 1231]
conf = 95
long = True

[*********************100%***********************]  5 of 5 completed

In [3]:
var_df = vt.var_stocks(data, n_stocks, conf, long, stocks)
var_df

  Métrica  Porcentaje        cash
0     VaR      0.0288 33,073.8496
1    cVaR      0.0463 53,131.4738

In [4]:
rt = data.pct_change().dropna()
stock_value = n_stocks * data.iloc[-1]
portfolio_value = stock_value.sum()
w_original = stock_value / portfolio_value
w_opt = [0.33, 0.15, 0.06, 0.46, 0.00]

In [5]:
vt.rebalance_stocks(w_original, w_opt, data, stocks, portfolio_value)

Ticker             AAPL     TSLA         AMD      LMT         JPM
Peso Original    0.2457   0.1301      0.1820   0.3064      0.1359
Peso Óptimo      0.3300   0.1500      0.0600   0.4600      0.0000
Acciones (C/V) 752.0000 185.0000 -2,159.0000 381.0000 -1,231.0000