In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import vartools as vt

In [2]:
stocks = ["AAPL", "TSLA", "AMD", "LMT", "JPM"]
data=yf.download(stocks, start="2020-01-01", end="2023-01-01")['Adj Close'][stocks]

n_stocks =[2193, 1211, 3221, 761, 1231]
conf = 95
long = True

[*********************100%***********************]  5 of 5 completed

In [3]:
var_df = vt.var_stocks(data, n_stocks, conf, long, stocks)
var_df

  Métrica  Porcentaje        cash
0     VaR      0.0288 33,073.9166
1    cVaR      0.0463 53,131.4690

In [4]:
rt = data.pct_change().dropna()
stock_value = n_stocks * data.iloc[-1]
portfolio_value = stock_value.sum()
w_original = stock_value / portfolio_value
w_opt = [0.33, 0.15, 0.06, 0.46, 0.00]

In [5]:
vt.rebalance_stocks(w_original, w_opt, data, stocks, portfolio_value)

Ticker             AAPL     TSLA         AMD      LMT         JPM
Peso Original    0.2457   0.1301      0.1820   0.3064      0.1359
Peso Óptimo      0.3300   0.1500      0.0600   0.4600      0.0000
Acciones (C/V) 752.0000 185.0000 -2,159.0000 381.0000 -1,231.0000

In [9]:
stocks = ["AAPL", "TSLA", "AMD", "LMT", "JPM"]
start_date = "2020-01-01"
end_date = "2023-01-01"
type = 'Adj Close' # 'Close'

In [11]:
def get_data(stocks, start_date, end_date, type):
    data=yf.download(stocks, start=start_date, end=end_date)[type][stocks]
    return data

In [12]:
get_data(stocks, start_date, end_date, type)

[*********************100%***********************]  5 of 5 completed

Ticker                        AAPL     TSLA     AMD      LMT      JPM
Date
2020-01-02 00:00:00+00:00  72.7161  28.6840 49.1000 349.3928 121.4772
2020-01-03 00:00:00+00:00  72.0091  29.5340 48.6000 361.9646 119.8742
2020-01-06 00:00:00+00:00  72.5829  30.1027 48.3900 361.4135 119.7789
2020-01-07 00:00:00+00:00  72.2416  31.2707 48.2500 362.6295 117.7425
2020-01-08 00:00:00+00:00  73.4036  32.8093 47.8300 359.5938 118.6610
...                            ...      ...     ...      ...      ...
2022-12-23 00:00:00+00:00 130.3445 123.1500 64.5200 458.5279 123.8671
2022-12-27 00:00:00+00:00 128.5355 109.1000 63.2700 460.6247 124.3012
2022-12-28 00:00:00+00:00 124.5914 112.7100 62.5700 458.4615 124.9805
2022-12-29 00:00:00+00:00 128.1203 121.8200 64.8200 462.0953 125.6976
2022-12-30 00:00:00+00:00 128.4366 123.1800 64.7700 461.5640 126.5279

[756 rows x 5 columns]